# Number of bank slots a new player will start with
startingBankSlots=4

# Maximum number of bank slots any individual player may have
# I have not test any performance impact of large number of players having a large number of filled bank slots
# the theoretical limit appears to be a bit over 2 billion (java max int)
maxBankSlots=300

# Disables extra damage to food when adding and removing from bank
disableExtraFoodDamage=true
